*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
  }
  
  :root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body {
    height: 100vh;
    width: 100vw;
    background: url("../images/background.jpg") no-repeat center center;
    background-size: cover;
    justify-content: center;
    display: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
  
  body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .container {
    position: absolute;
    width: 300px;
    height: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../images/card.jpg") center center;
    background-size: cover;
    color: white;
    
  }

  .styling{
    box-shadow: 3.6px 7.2px 7.2px hsl(0deg 0% 0% / 39%);
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
  }
  
  .btn-grid {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  
  .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
  }
  
  .btn:hover {
    border-color: black;
  }
  
  .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
  
  .btn.wrong {
    --hue: var(--hue-wrong);
  }
  
  .start-btn, .next-btn, .restart-btn, .finish-btn, .newgame-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
  }
  
  .hide {
    display: none;
  }

  .question-container{
    width: 90vw;
    height: 24vh;
    color: white;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url(../images/card.jpg) center center;
    background-size: cover;
  }

  .endContainer {
    width: 90vw;
    height: 24vh;
    color: white;
    transition: all 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5)), url(../images/card.jpg) center center;
    background-size: cover;
  }

  .Congrats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .Congrats > h2{
    letter-spacing: 1px;
  }

  .Congrats > p {
    font-size: 2rem;
  }

  .newgame{
    display: flex;
    justify-content: center;
  }
  

   